* {
    margin: 0 auto;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OfficinaSansC-Book';
    src: url(../fonts/OfficinaSansC-Book.otf);
}

header {
    font-family: 'OfficinaSansC-Book';
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
    height: auto !important;
    background-color: #EBE7E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    display: none;
}

nav {
    display: none;
    max-width: 660px;
    margin: 0 auto 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.topmenu > li:last-child {
    margin-right: 0;
}

.two a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

.fa {
    font-family: "FontAwesome";
    color: inherit;
    padding-left: 10px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.two ul {
    background: #D4E7EE;
}

.two ul a {
    color: #29838C;
}

.two .submenu {
    visibility: hidden;
    background: #ADC0CE;
}

.two ul li:hover .submenu {
    visibility: visible;
}

.submenu li a {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: white;
}


header a {

    font-size: 20px;
    padding-left: 20px;
}

.nav_block a {
    color: #4D4D4D;
}

.aut a {
    background-color: #2275B8;
    font-weight: bold;
}

/* info block */
.info_block {
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
    height: 120px;
    display: flex;
    align-items: center;
}

.info_block img {
    padding-left: 100px;
    margin-left: -10px;
}

.korzina {
    display: flex;
    justify-content: center;
    align-items: center;
}

.korzina a {
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.time {
    font-size: 20px;
    margin-left: -10px;
}

/* search block */
.logo_index {
    margin-left: -50px;
}

.search_block {
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
    height: 50px;
    background-color: #39A2F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_block input {
    width: 50%;
    height: 40px;
    border: 2px solid #39A2F7;
    border-radius: 1px;
    font-size: 20px;
}

/* slaider block */
/* .slaider_block{
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 30px;
    height: 500px;
    background-color: gray;
    background: url(../img/slaider.png);
    background-size: 100% 100%;
} */
.adaptivny-slayder {
    position: relative;
    max-width: 1500px;
    height: 400px;
    margin: 20px auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.adaptivny-slayder input[name="kadoves"] {
    display: none;
}

.kadoves {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.kadoves label {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
}

#slaid1:checked ~ .kadoves label[for="slaid1"] {
    background-color: white;
}

#slaid2:checked ~ .kadoves label[for="slaid2"] {
    background-color: white;
}

#slaid3:checked ~ .kadoves label[for="slaid3"] {
    background-color: white;
}

.adaptivny-slayder-lasekun {
    overflow: hidden;

}

.abusteku-deagulus {
    display: flex;
    /*width: 1500px;*/
    height: 400px;
    transition: all 0.5s;
}

.abusteku-deagulus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#slaid1:checked ~ adaptivny-slayder-lasekun abusteku-deagulus {
    transform: translate(0);
}

#slaid2:checked ~ .adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(100%);
}

#slaid3:checked ~ .adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-200%);
}


/*
 .container_slider_css{margin:50px auto;max-width: 1500px;;height:400px;overflow:hidden;position:relative}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%; height: 100%; object-fit: cover;}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{max-width: 450px; height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{max-width: 450px;height:190px}
}  */
/* категория */
.categoria_block {
    max-width: 1650px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.cat_pod {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    width: 45%;
    height: 50px;
    font-size: 20px;
}

.cat_pod button {
    width: 45%;
    height: 50px;
    background-color: white;
    color: #39A2F7;
    border: 1px solid #39A2F7;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

.cat_pod button:hover {
    width: 45%;
    height: 50px;
    background-color: #39A2F7;
    color: white;
    border: 1px solid #39A2F7;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
}

/* tovar */

.tovar_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'OfficinaSansC-Book';
}

.tovar {
    margin-top: 50px;
    border: 1px solid #39a2f769;
    width: 280px;
    /* height: 500px; */
    transition: all 0.5s;
}

.tovar p {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 17px;
}

.tovar h1 {
    margin-left: 10px;
    margin-top: 30px;
}

.code {
    color: gray;
}

.tovar:hover {
    -webkit-box-shadow: 0px 15px 22px -7px rgb(0, 0, 0);
    -moz-box-shadow: 0px 15px 22px -7px rgb(0, 0, 0);
    box-shadow: 0px 15px 22px -7px rgba(0, 0, 0, 0.219);
    transition: all 0.5s;
}

.info_tovar {
    /* border: 1px solid black; */
    margin-bottom: 10px;
    margin-top: 50px;
    display: flex;
}

.info_tovar button {
    margin-left: 50px;
    color: white;
    width: 40%;
    height: 35px;
    margin-top: 15px;
    /* border-radius: 50px; */
    background-color: #39A2F7;
    border: 2px solid #39A2F7;
    font-size: 17px;
    cursor: pointer;
}

.bt_load {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding: 0 15px;
    /* margin: 0 auto; */
    height: 45px;
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: rgba(128, 128, 128, 0);
    /* border-radius: 10px; */
    border: 1px solid #39A2F7;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.bt_load:hover {
    -webkit-box-shadow: 0px 15px 22px -7px rgb(0, 0, 0);
    -moz-box-shadow: 0px 15px 22px -7px rgb(0, 0, 0);
    box-shadow: 0px 15px 22px -7px rgba(0, 0, 0, 0.219);
    transition: all 0.5s;
}

/* ONAS */
.onas_block {
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
    /*height: 400px;*/
    background-color: #E5E3E3;
    /*display: flex;*/
    /*!* justify-content: center; *!*/
    /*align-items: center;*/

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.onas {
    /*width: 20%;*/
    padding: 30px;
    font-size: 20px;
    text-align: center;
}

.onas p {
    margin-top: 20px;
    color: #7B7979;
}

/* Отзывы */
.koguvcavis-varazdel {
    padding: 38px 0;
    /* background: #adadad; */
    color: #2f2f2f;
    text-align: center;
}

.sestim-donials {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.sectionesag {
    width: 195px;
    height: 3px;
    background: #39A2F7;
    margin: 23px auto;
}

.sagestim-lonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vemotau-vokusipol {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background-color: #E5E3E3;
    padding: 28px;
    height: 300px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.gecedanam {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.apogered-gselected {
    color: #53b32b;
    margin-bottom: 20px;
}

footer {
    margin-top: 100px;
    padding-top: 30px;
    max-width: 1920px;
    /* padding: 0 15px; */
    /* height: 240px; */
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 300 xp;
    height: 200px;
    display: table-column;
    /* text-align: center; */
    color: white;
    line-height: 25px;
}

.info_block_f {
    width: 300 xp;
    height: 200px;
    display: table-column;
    /* text-align: center; */
    color: white;
    line-height: 25px;
}

.info a {
    color: #CBCBCB;
}

.info_block_f a {
    color: #CBCBCB;
}

/* reg */
.forma_reg {
    max-width: 1600px;
    /* height: 500px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    text-align: center;
    font-family: 'OfficinaSansC-Book';
}

.forma_reg input {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: 1px solid #2275b892;
}

input.sub_bt {
    height: 50px;
    border: 1px solid #39A2F7;
    background-color: rgba(128, 128, 128, 0);
    font-size: 17px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
}

input.sub_bt:hover {
    border: 1px solid #39A2F7;
    background-color: #39A2F7;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1400px) {
    .slaider_block {
        max-width: 90%;
    }
}

@media screen and (max-width: 960px) {
    .info_block {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .vemotau-vokusipol {
        flex: 100%;
        max-width: 80%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .vemotau-vokusipol {
        flex: 100%;
        max-width: 100%;
    }
}

/* tovar */
@media screen and (max-width: 1440px) {
    .tovar_block {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 80%;
        justify-content: center;
    }

    .slaider_block {
        width: 90%;
    }

    .time {
        margin-left: -100px;
    }

    .tovar {
        width: 322px;
        margin: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 1350px) {
    .tovar_block {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 80%;
        justify-content: center;
    }

    .time {
        margin-left: -50px;
    }

    .tovar {
        width: 280px;
        margin: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .tovar_block {
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        justify-content: center;
    }

    .tovar {
        width: 322px;
        margin: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .tovar_block {
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        justify-content: center;
    }

    /*.slaider_block {*/
    /*    display: none;*/
    /*}*/
    .time {
        display: none;
    }

    .korzina a {
        display: none;
    }

    .info_block {
        justify-content: center;
    }

    .tovar {
        width: 280px;
        margin: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    /* стили для маленьких устройств */
    header {
        width: 340px;
    }

    .search_block {
        width: 340px;
    }

    .categoria_block {
        width: 300px;
        /* border: 1px solid black; */
    }

    .cat_pod select {
        max-width: fit-content;
    }

    .cat_pod {
        display: grid;
        grid-template-columns: 1fr;
        width: 250px;
    }

    .cat_pod button {
        margin-top: 10px;
        /* width: 100%; */
        font-size: 18px;
    }

    /*.slaider_block {*/
    /*    display: none;*/
    /*}*/
}

@media screen and (max-width: 375px) {
    .info_block img {
        margin-left: -20%;
    }

    /*.slaider_block {*/
    /*    display: none;*/
    /*}*/
    .nav {
        display: none;
    }

    .container_slider_css {
        display: none;
    }

    .tovar_block {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 415px;
    }

    /*.onas_block {*/
    /*    display: none;*/
    /*}*/
    footer {
        display: grid;
        grid-template-columns: 1fr;
        height: none;
    }

    .info_block_f {
        display: none;
    }

    .categoria_block {
        max-width: 400px;
        /* border: 1px solid black; */
    }

    .cat_pod select {
        width: 350px;
    }

    .cat_pod {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: 10px;
        /* border: 1px solid black; */
        /* padding: 50px; */
    }

    .cat_pod button {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    /* стили для телефонов - начало */
    .info_block {
        display: none;
    }

    .aut {
        display: none;
    }

    header {
        background-color: white;
        margin: 0 auto;
    }

    .logo_index {
        margin-left: 1px;
    }

    .info_block_time {
        display: none;
    }

    header img {
        display: flex;
        width: 200px;
        height: 50px;
    }

    .korz {
        width: 30px;
        height: 30px;
    }

    .nav_block {
        display: none;
    }

    .nav_block a {
        display: none;
    }

    nav {
        /* border: 1px solid black; */
        display: flex;
        width: 70px;
        margin-top: 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .topmenu > li {
        display: inline-block;
        margin-right: 20px;
        position: relative;
    }

    .topmenu > li:last-child {
        margin-right: 0;
    }

    .two a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        outline: none;
        font-family: 'Lora', serif;
        transition: .5s linear;
    }

    .fa {
        font-family: 'OfficinaSansC-Book';
        color: inherit;
        padding-left: 10px;
    }

    .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        z-index: 10;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    .two ul {
        background-color: rgba(128, 128, 128, 0);
    }

    .two ul a {
        font-family: 'OfficinaSansC-Book';
        color: black;
        margin-top: 10px;
        font-weight: bold;
    }

    .two .submenu {
        visibility: hidden;
        background: #2275B8;
    }

    .two ul li:hover .submenu {
        visibility: visible;
    }

    .submenu li a {
        width: 200px;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        color: white;
    }

    /*.slaider_block {*/
    /*    display: none;*/
    /*}*/
    .tovar_block {
        grid-template-columns: 1fr 1fr;
        max-width: 415px;
    }

    /*.onas_block {*/
    /*    display: none;*/
    /*}*/
    .nav {
        display: none;
    }

    .container_slider_css {
        display: none;
    }

    .search_block input {
        max-width: 415px;
    }

    .tovar {
        max-width: 180px;
    }

    .tovar img {
        max-width: 170px;
        height: 190px;
    }

    /*.onas_block {*/
    /*    display: none;*/
    /*}*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: none;
    }

    .categoria_block {
        max-width: 400px;
        /* border: 1px solid black; */
    }

    .cat_pod select {
        width: 350px;
    }

    .cat_pod {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: 10px;
        /* border: 1px solid black; */
        /* padding: 50px; */
    }

    .cat_pod button {
        margin-top: 10px;
        width: 100%;
    }

    .info_tovar {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 8px;
    }

    .info_tovar button {
        width: 170px;
        margin: inherit;
    }

    .code {
        display: flex;
    }

    footer {
        margin: 0 auto;
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    footer .info {
        text-align: center;
        width: 300px;
        /* border: 1px solid black; */
    }

    footer .info_block_f {
        width: 300px;
        text-align: center;
        /* border: 1px solid black; */
    }

    .forma_reg {
        display: grid;
        grid-template-columns: 1fr;
    }

    .auth {
        margin-top: 50px;
    }
}

.nav-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav_all {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 25px 0;
}

main {
    min-height: 70vh;
}

@media screen and (max-width: 576px) {
    .user-btn {
        display: flex;
        flex-direction: column;

    }

    .nav-all {
        gap: 20px;
        flex-direction: column-reverse;
    }

    .logo_index {
        margin: 0 auto;
        padding: 0;
    }

    .onas_block {
        grid-template-columns: 1fr;
    }
}

.edit_button {
    background-color: #39A2F7;
    border: 1px solid #39A2F7;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.delete_button {
    background-color: red;
    border: 1px solid red;
    color: white;
    margin-left: 50px;
    font-weight: bold;
    cursor: pointer;
}


.edit_button, .delete_button {
    display: block;
    padding: 10px 20px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

input[type='checkbox'] {
    height: auto;
    width: auto;
}
